*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body{
    background-color: rgba(240, 248, 255, 0.226);
}

.menu{
    width: 100%;
    height: 120px;
    background-color:#f9e846;
    display: flex;
    align-items: center;
    
}

.menu .logo{
    width: 33%;
    text-align: center;
   
}

.menu_Opcoes{
    width: 60%;
}

.menu ul{
    display: flex;
    justify-content: space-around;
}

.menu ul li{
    list-style: none;
}

.menu ul li a{
    text-decoration: none;
    color: rgb(14, 13, 13);
    font-weight: 500;
    padding: 5px;
    font-size: 1.2rem;
}

#produtos{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px; 
}

.card{
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
    border: 2px solid rgba(39, 2, 2, 0.199);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.589);
    transition: .6s;
}

.card a{
    text-decoration: none;
}

.card:hover{
    box-shadow: 1px 2px 6px 1px rgba(236, 240, 4, 0.89);
}

.card div img{
    width: 130px;
}

.card div:nth-child(1) {
    width: 130px;
}

.card div:nth-child(2) span {
    color: rgb(23, 153, 228);
    cursor: pointer;
    transition: .5s;
}

.card div:nth-child(2) span:hover {
    color: rgb(5, 52, 80);
}

.card div:nth-child(2) p {
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 5px;
}


.titulo{
    font-weight: 700;
}

.buscar{
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.buscar input{
    width: 75%;
    padding: 10px;
    border: 2px solid rgba(128, 128, 128, 0.815);
    border-radius: 15px;
    margin-right: 15px;
    font-size: 1.3rem;
    outline: none
}

.buscar img{
    width: 50px;
    cursor: pointer;
}