*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#produtos{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card{
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    border: 2px solid rgba(39, 2, 2, 0.199);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}