*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(240, 248, 255, 0.226);
}

.menu{
    width: 100%;
    height: 80px;
    background-color: yellow;
    display: flex;
    align-items: center;
}

.menu .logo{
    width: 40%;
    border: 1px solid red;
    background-color: red;
}

.menu_Opcoes{
    width: 60%;
}

.menu ul{
    display: flex;
    justify-content: space-around;
}

.menu ul li{
    list-style: none;
}

.menu ul li a{
    text-decoration: none;
    color: rgb(14, 13, 13);
    font-weight: 500;
    padding: 5px;
}

#produtos{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
}

.card{
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    border: 2px solid rgba(39, 2, 2, 0.199);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}