*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body{
  background-color: rgba(240, 248, 255, 0.226);
}

.menu{
  width: 100%;
  height: 120px;
  background-color:#f9e846;
  display: flex;
  align-items: center;
}

.menu .logo{
  width: 33%;
  text-align: center;
 
}

.menu_Opcoes{
  width: 60%;
}

.menu ul{
  display: flex;
  justify-content: space-around;
}

.menu ul li{
  list-style: none;
}

.menu ul li a{
  text-decoration: none;
  color: rgb(14, 13, 13);
  font-weight: 500;
  padding: 5px;
  font-size: 1.3rem;
}

h1{
  color: rgb(14, 13, 13);
  text-align: center;
  margin-top: 40px;
}

#qtd_carrinho{
  color: white;
  position: relative;
  top: -15px;
  right: -5px;
  font-weight: 600;
  border: 1px solid red;
  background-color: red;
  border-radius: 50%;
  padding: 0px 5px;
  font-size: 16px;
}

.produtos{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px; 
  margin-bottom: 80px;
  animation: blur 3s;
  transition: all;
}

.produtoss{
  width: 68%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px; 
  margin-bottom: 80px;
  animation: blur 2.5s;
  transition: all;
  padding: 10px;
}

@keyframes blur{
  0%{
    filter: blur(5px);
  }
  100%{
    filter: blur(0px);
  }
}

.card{
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 12px;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  box-shadow: 0.5px 0.5px 1px 0.5px rgba(0, 0, 0, 0.589); 
  transition: 0.4s;
  border: 1px solid rgba(128, 128, 128, 0.192);
}

.card a{
  text-decoration: none;
}

.card:hover{
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.589);
  scale: 1.03;
}

.card div img{
  width: 130px;
}

.card div:nth-child(1) {
  width: 130px;
}

.card div:nth-child(2) span {
  color: rgb(23, 153, 228);
  cursor: pointer;
  transition: .5s;
}

.card div:nth-child(2) span:hover {
  color: rgb(5, 52, 80);
}

.card div:nth-child(2) p {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 5px;
}


.titulo{
  font-weight: 700;
}

.banner{
  width: 60%;
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
}

.banner img{
  width: 100%;
}

.buscar{
  width: 60%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.buscar input{
  width: 75%;
  padding: 10px;
  border: 2px solid rgba(128, 128, 128, 0.815);
  border-radius: 15px;
  margin-right: 15px;
  font-size: 1.3rem;
  outline: none
}

.buscar img{
  width: 50px;
  cursor: pointer;
}

.carrinho{
  padding: 10px 15px;
  width: 65%;
  background-color: #f9e846;
  border: 1px solid transparent;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
  transition: .5s;
  font-weight: 600;
  font-size: 1.05rem;

}

.carrinho i{
  color: rgb(87, 84, 84);
}

.carrinho:hover{
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.363) ;
  background-color: #ddc703;
}

.imgCarrinho{
  width: 60%;
  margin: 0 auto;
  text-align: center;
}


#carregando {
  animation: rodar 2s linear infinite;
}

@keyframes rodar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.drop_Menu{
  position: absolute;
  width: 250px;
  display: none;
  transition: .6s;
  color: black;
  padding: 10px;
}

.drop_Menu p{
  cursor: pointer;
  font-weight: 700;
  padding: 2px;
  transition: .4s;
}
.drop_Menu p:hover{
  color: rgb(23, 153, 228);
}

#categoria:hover .drop_Menu {
  border: 1px solid transparent;
  border-radius: 7px;
  opacity: 1;
  background-color: white;
  display: block;
}

.flash_msg{
  width: 18%;
  border: 1px solid green;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 25px;
  right: 10px;
  background-color: rgb(11, 145, 11);
  color: white;
  opacity: 0;
  transition: .5s;
}

